* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.links_of_projects {
  width: 90%;
  margin: auto;
  padding: 10px;
  max-width: 500px;
  background-color: red;
}
a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  display: inline-block;
  border: 3px solid green;
}
body {
  background-color: #0a192f;
  color: white;
}
h1 {
  text-align: center;
  padding: 10px;
}
marquee {
  font-size: 30px;
}
